<a href="https://colab.research.google.com/github/malmusfer/SQL-Query-a-Digital-Music-Store/blob/main/Query_a_Digital_Music_Store_Part1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text]("Udacity") ![alt text](https://www.arabcoders.ae/frontend_v3/assets/img/logo.png "1M Arab Coders") 




# Data Analysis Track

## Mini-porject: SQL Query a Digital Music Store
## by: Almutairi, Muhanned
![alt text]("LinkedIn profile")[LinkedIn profile](https://www.linkedin.com/in/muhanned-almutairi-5bb1a5a0/)

#Chinook Database

###Introduction

In this mini-project, we will query the Chinook Database. The Chinook Database holds information about a music store. For this lab, we will be answering 4 queries to help the Chinook team understand the media in their store, their customers and employees, and their invoice information. To assist us in the queries ahead, the schema for the Chinook Database is provided below. We can see the columns that link tables together via the arrows.



![alt text](https://video.udacity-data.com/topher/2019/February/5c6164bf_chinook/chinook.png "schema")

#Instructions
"In order to help the team at Chinook music store, We need to answer the following 4 queries

###Q1 The Chinook database contains all invoices from the beginning of 2009 till the end of 2013. The employees at Chinook store are interested in seeing all invoices that happened in 2013 only. Using the Invoice table, write a query that returns all the info of the invoices in 2013.

In [ ]:
SELECT Invoice.*
FROM Invoice
where Invoice.Invoicedate between '2013-01-01' and '2014-01-01';

###Q2 The Chinook team decided to run a marketing campaign in Brazil, Canada, india, and Sweden. Using the customer table, write a query that returns the first name, last name, and country for all customers from the 4 countries.

In [ ]:
SELECT FirstName,LastName,Country
FROM Customer
WHERE Country IN("Brazil","Canada","India","Sweden");

###Q3 Using the Track and Album tables, write a query that returns all the songs that start with the letter 'A' and the composer field is not empty. Your query should return the name of the song, the name of the composer, and the title of the album.

In [ ]:
SELECT Track.Name, Track.Composer, Album.Title 
FROM Track
JOIN Album
ON Track.AlbumId = Album.AlbumId
WHERE Track.Name LIKE 'A%' AND Track.Composer NOT LIKE '';

###Q4 The Chinook team would like to throw a promotional Music Festival for their top 10 customers who have spent the most in a single invoice. Write a query that returns the first name, last name, and invoice total for the top 10 invoices ordered by invoice total descending."

In [ ]:
SELECT C.FirstName,C.LastName,I.Total
FROM Customer AS C
JOIN Invoice AS I
ON C.CustomerId =I.CustomerId
ORDER BY I.Total DESC
LIMIT 10